
pre {
  background-color: #00753a;
  padding: 10px;
  font-size: 11px; }



a:hover {
  color: #073b00;
  background-color: #bbbbbb; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

label {
  display: block; }

/* Thumbnails for albums/index */

.thumbnail {
  position: relative;
  background: transparent;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}

.thumbnail h3 {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0.3em;
}

.thumbnail-inner {
  padding: 10px 4px 4px;
}
