.album-header {
  text-align: center;
  margin: 1em;
}

.album-header-actions, .album-photo-actions {
  line-height: 2em;
}

.album-photos {
  display: grid; /* 1 */
  grid-template-columns: repeat(auto-fill, 150px); /* 2 */
  grid-gap: 1rem; /* 3 */
  justify-content: space-between; /* 4 */
}

.album-photo {
  box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
  border-radius: 5px;
  margin-bottom: 20px;
  img {
    border-radius: 5px 5px 0px 0px;
  }
}

.album-photo:hover {
  box-shadow: 0 8px 16px 0 rgb(196, 11, 11);
}
