table {
    width: 100%;
    /* Ширина таблицы */
    table-layout: fixed;
    /* Ячейки фиксированной ширины */
}

td {
    padding: 5px;
    /* Поля в ячейках */
    vertical-align: top;
    /* Выравнивание по верхнему краю ячеек */
}

.col1 {
    background: #ccc;
}

.col2 {
    background: #ffd;
}